@use "./blocks/variables" as*;

.banner {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  color: $white;
  margin-bottom: 20px;
}

.banner__container {
  display: flex;
  flex-direction: column;
  background:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/content-image/index/index-promo-bg-phone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 302px;
  margin-bottom: 138px;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/content-image/index/index-promo-bg-phone@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.banner__image-wrapper {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 280px;
  height: auto;
}

.banner__title {
  font-family: $oswald;
  font-weight: inherit;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.banner__subtitle {
  font-family: $oswald;
  text-align: center;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  line-height: 14px;
}

.banner__button {
  width: 100%;
  font-family: $oswald;
  text-decoration: none;
  color: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  background-color: $regular-button;
  cursor: pointer;
  align-self: center;

  &:hover {
    background-color: $regular-button--hover;
  }

  &:active {
    opacity: 0.4;
  }
}

.banner__wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .banner {
    min-height: 726px;
    align-items: flex-start;
  }

  .banner__container {
    background: transparent;
    padding: 0;
    min-height: 170px;
    padding-left: 117px;
    margin-bottom: 50px;
  }

  .banner__title {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    max-width: 416px;
    margin-bottom: 41px;
  }

  .banner__subtitle {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .banner__wrapper {
    padding-left: 117px;
  }

  .banner__button {
    max-width: 224px;
    align-self: auto;
    padding: 14px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .banner__image-wrapper {
    top: 25%;
    z-index: -1;
    max-width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .banner {
    min-height: 553px;

    &::before {
      content: "";
      position: absolute;
      top: -35%;
      right: 0;
      z-index: -1;
      width: 50%;
      height: 694px;
      background:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/content-image/index/index-promo-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-resolution: 2dppx) {
        background:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/content-image/index/index-promo-bg-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .banner__image-wrapper {
    max-width: 552px;
    top: 10%;
    left: 55%;
  }
}
