@use "./blocks/variables" as*;

.features {
  margin-bottom: 50px;
  padding: 0 20px;
}

.features__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  margin-bottom: 40px;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  margin-bottom: 20px;
}

.features__item--last-item {
  margin: 0;
}

.features__text {
  position: relative;
  margin: 0;
  padding-left: 80px;
  max-width: 199px;

  &--leaf::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/icone/leaf.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--worm-water::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/icone/worm-water.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--knife::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/icone/knife.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--alarm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../img/icone/alarm.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .features {
    position: relative;
    padding: 0 30px;
    padding-bottom: 47px;
    margin-bottom: 0;

    &::after {
      content: "";
      position: absolute;
      left: -30px;
      bottom: 30px;
      height: 1px;
      width: 110%;
      background-color: $nav-gray;
    }
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }

  .features__text {
    padding: 0;
    max-width: 245px;
    padding-top: 151px;

    &--leaf::before {
      top: 40px;
    }

    &--worm-water::before {
      top: 40px;
    }

    &--knife::before {
      top: 40px;
    }

    &--alarm::before {
      top: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 0 110px;
    margin-bottom: 69px;

    &::after {
      display: none;
    }
  }

  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 94px;
  }

  .features__text {
    padding-bottom: 57px;
  }
}
