@use "./blocks/variables" as*;

.product-example {
  padding: 25px 20px 40px 20px;
  background-color: $darken-gray;
}

.product-example__title {
  font-family: $oswald;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.product-example__discription {
  margin-bottom: 40px;
}

.product-example__discription-text {
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list-item {
  position: relative;
  padding: 14px 20px 0 20px;
}

.product-example__item-value {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: center;
  margin-bottom: 8px;
}

.product-example__item-discription {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.product-example__subtitle {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: $black;
  text-align: center;
}

.range__range-before,
.range__range-became {
  font-family: $oswald;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: $black;
}

@media (min-width: $tablet-width) {
  .product-example {
    padding: 30px 43px 55px 30px;
  }

  .product-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .product-example__discription-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .product-example__discription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .product-example__subtitle {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
  }

  .product-example__item-value {
    font-size: 30px;
    line-height: 37px;
  }
}
