@use "./blocks/variables" as*;

.product-example {
  padding: 25px 0 40px 0;
  background-color: $darken-gray;
}

.product-example__title {
  font-family: $oswald;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.product-example__discription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.product-example__discription-text {
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 14px;
  padding-bottom: 17px;
  min-width: 124px;
  max-height: 56px;
  border: 1px solid $card-gray;
  border-radius: 3px;
  box-sizing: border-box;
}

.product-example__item-value {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: center;
}

.product-example__item-discription {
  position: absolute;
  top: 45px;
  z-index: 1;
  max-width: 87px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: $darken-gray;
}

.product-example__wrapper {
  display: flex;
  margin: 0 auto;
}

.product-example__subtitle {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-example {
    padding: 30px 0 101px 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 54%, $darken-gray 54%);
  }

  .product-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .product-example__discription-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .product-example__discription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .product-example__list {
    max-width: 366px;
  }

  .product-example__list-item {
    min-width: 162px;
    max-height: 72px;
    padding: 15px 30px 20px 30px;
  }

  .product-example__item-discription {
    min-width: 142px;
    top: 64px;
    background-color: $white;
  }

  .product-example__wrapper {
    margin: 0;
    flex-direction: column;
  }

  .product-example__subtitle {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: right;
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }
  }

  .product-example__item-value {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-example {
    padding: 0 0 75px 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 44%, #eaeaea 44%);
  }

  .product-example__container {
    display: flex;
    justify-content: space-between;
  }

  .product-example__title {
    margin-bottom: 76px;
  }

  .product-example__discription-text {
    max-width: 436px;
    margin-bottom: 69px;
  }

  .product-example__discription {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .product-example__item-discription {
    background-color: $darken-gray;
  }

  .product-example__wrapper {
    flex-direction: row;
  }

  .product-example__subtitle {
    margin: 0;
    margin-right: 63px;

    &:last-child {
      margin: 0;
    }
  }

  .product-example__list {
    margin-bottom: 47px;
  }
}
