@use "./blocks/variables" as*;

.product-example {
  overflow: hidden;
  padding: 25px 0 40px 0;
  background-color: $darken-gray;
}

.product-example__title {
  font-family: $oswald;
  font-weight: inherit;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.product-example__discription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 19px;
}

.product-example__discription-text {
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
  margin: 0 0 14px;
}

.product-example__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 14px;
  padding-bottom: 17px;
  min-width: 124px;
  max-height: 56px;
  border: 1px solid $card-gray;
  border-radius: 3px;
  box-sizing: border-box;
}

.product-example__item-value {
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: center;
}

.product-example__item-discription {
  position: absolute;
  top: 45px;
  z-index: 1;
  max-width: 80px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $darken-gray;
}

.product-example__wrapper {
  display: flex;
  margin: 0 auto;
}

.product-example__subtitle {
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-example {
    padding: 30px 0 100px 0;
    background: linear-gradient(to bottom, transparent 0, transparent 57%, #eaeaea 56%);
  }

  .product-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .product-example__discription-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    max-width: 700px;
  }

  .product-example__discription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 706px;
    margin-bottom: 70px;
  }

  .product-example__list {
    max-width: 366px;
  }

  .product-example__list-item {
    min-width: 162px;
    max-height: 72px;
    padding: 15px 30px 20px 30px;
  }

  .product-example__item-discription {
    font-size: 14px;
    line-height: 14px;
    min-width: 142px;
    top: 64px;
    background-color: $white;
  }

  .product-example__wrapper {
    margin: 0;
    flex-direction: column;
    align-self: normal;
    padding-top: 12px;
  }

  .product-example__subtitle {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    text-align: right;
    margin-bottom: 8px;

    &:last-child {
      margin: 0;
    }
  }

  .product-example__item-value {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (min-width: $desktop-width) {
  .product-example {
    padding: 0;
    padding-bottom: 77px;
    background: linear-gradient(to bottom, transparent 0, transparent 23%, #eaeaea 23%);
  }

  .product-example__title {
    margin-bottom: 146px;
  }

  .product-example__container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .product-example__discription-text {
    max-width: 436px;
    margin-bottom: 65px;
  }

  .product-example__discription {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    justify-content: flex-start;
  }

  .product-example__item-discription {
    background-color: $darken-gray;
  }

  .product-example__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 327px;
  }

  .product-example__list {
    margin-bottom: 29px;
  }

  .product-example__subtitle {
    margin: 0;

    &:last-child {
      margin: 0;
    }
  }
}
