@use "./blocks/variables" as*;

.range-slider {
  overflow: hidden;
}

.range-slider__slide {
  position: relative;
  margin-bottom: 14px;
}

.range-slider__image-wrapper {
  display: flex;
  justify-content: center;
}

.range-slider__image {
  position: relative;
  top: 0;
  left: 0;
}

.range-slider__button {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover .range-slider__button-icon {
    color: $regular-button;
  }

  &:hover + .range-slider__line {
    &::after {
      background-color: $regular-button;
    }
  }
}

.range-slider__button-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: $gray;
}

.range-slider__toggle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.range-slider__line {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 4px;
    background-color: $gray;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .range-slider {
    display: flex;
    flex-direction: column;
  }

  .range-slider__slide {
    align-self: center;
  }
}
