@use "./blocks/variables" as*;

.range {
  display: flex;
  justify-content: space-between;
}

.range__range-before,
.range__range-became {
  border: none;
}


@media (min-width: $tablet-width) {
  .range {
    padding: 0 60px;
  }
}
