@use "./blocks/variables" as*;

.service {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
}

.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__item {
  padding: 30px 20px 18px 20px;
  background-color: $light-gray;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.service__title {
  position: relative;
  font-family: $oswald;
  font-weight: inherit;
  font-size: 24px;
  line-height: 37px;
  padding-left: 69px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  color: $black;
}

.service__discription {
  position: relative;
  width: 227px;
  margin: 0;
  margin-bottom: 38px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    height: 1px;
    width: 240px;
    background-color: $border-color;
  }
}

.service__button {
  position: relative;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 47px 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: $border-color;
  }

  &::after {
    position: absolute;
    width: 24px;
    height: 12px;
    right: 0;
    top: 4px;
    background-image: url("../img/icone/arrow-right.png");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
