@use "./blocks/variables" as*;

.service {
  margin: 0;
  margin-bottom: 20px;
}

.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__item {
  padding: 24px 0 18px 20px;
  background-color: $light-gray;
  margin-bottom: 20px;

  &:last-child {
    margin: 0;
  }
}

.service__title {
  position: relative;
  font-family: $oswald;
  font-weight: inherit;
  font-size: 24px;
  line-height: 37px;
  padding-left: 69px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  color: $black;

  &--weight-loss::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 50px;
    height: 53px;
    background-image: url("../img/icone/weight-loss.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--massa-cat::before {
    content: "";
    position: absolute;
    left: 0;
    top: -12px;
    width: 67px;
    height: 50px;
    background-image: url("../img/icone/massa-cat.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.service__discription {
  position: relative;
  max-width: 227px;
  margin: 0;
  margin-bottom: 38px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    height: 1px;
    width: 240px;
    background-color: $border-color;
  }
}

.service__button {
  position: relative;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 47px 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    right: 0;
    top: 17px;
    transform: translateY(-50%);
    background-image: url("../img/icone/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .service {
    margin-bottom: 45px;
  }

  .service__item {
    padding: 77px 0 53px 53px;
    margin-bottom: 30px;
  }

  .service__title {
    padding: 0;
    font-size: 36px;
    line-height: 36px;

    &--weight-loss::before {
      display: none;
    }

    &--massa-cat::before {
      display: none;
    }
  }

  .service__discription {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .service__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }

  .service__item {
    margin: 0;
  }
}
