.additional-products {
  font-family: base.$title-font;
  margin-bottom: 35px;
}

.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
}

.additional-products__list {
  font-family: base.$main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: base.$regular-color;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.additional-products__item {
  padding-top: 12px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}

.additional-products__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: base.$light-black;
}

.additional-products__button {
  font-family: $title-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  background-color: #68b738;
  color: base.$regular-background;
}
