.cooperation {
}

.cooperation__container {
  margin-bottom: 26px;
}

.cooperation__title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.cooperation__address {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.cooperation__image-wrapper {
}

.cooperation__image {
}
