@use "./blocks/variables" as*;

.cooperation {
  &--them-gray {
    background-color: $light-gray;
  }
}

.cooperation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;
}

.cooperation__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $darken-black;
  margin: 0;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
}

