@use "./blocks/variables" as*;

.cooperation {
  &--them-gray {
    background-color: $light-gray;
  }
}

.cooperation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;
}

.cooperation__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $darken-black;
  margin: 0;
}

.cooperation__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.cooperation__address-first-part,
.cooperation__address-last-part {
  margin: 0;
}

.cooperation__image {
  max-height: 200px;
  width: 100%;
}

.cooperation__image-wrapper {
  display: none;

  &--nojs {
    display: block;
  }
}

.cooperation__map-imge {
  max-width: 100%;
  max-height: 362px;
}

.cooperation__map {
  min-width: 100%;
  min-height: 362px;
  display: block;
  border: none;
}

@media (min-width: $tablet-width) {
  .cooperation__container {
    padding: 59px 41px 59px 40px;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    max-width: 172px;
  }

  .cooperation__address {
    text-align: right;
    max-width: 160px;
  }

  .cooperation__address-first-part {
    margin-bottom: 20px;
  }

  .cooperation__address-first-part,
  .cooperation__address-last-part {
    font-size: 16px;
    line-height: 20px;
  }

  .cooperation__map-image {
    max-height: 400px;
  }

  .cooperation__map {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__container {
    position: absolute;
    top: 98px;
    left: 109px;
    width: 565px;
    background-color: $white;
    padding: 56px 80px;
  }

  .cooperation__address {
    padding-left: 5px;
  }

  .cooperation__address-first-part,
  .cooperation__address-last-part {
    text-align: left;
  }
}
