.main-catalog {
  font-family: base.$title-font;
  color: base.$title-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-size: 36px;
  line-height: 36px;
}
