.main-catalog {
  font-family: "Oswald";
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-size: 36px;
  line-height: 36px;
}
