@use "./blocks/variables" as*;
@use "./blocks/fonts" as*;

.page {
  height: 100%;
}

.page__body {
  display: flex;
  min-height: 100%;
  min-width: 320px;
  flex-direction: column;
  font-family: $arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $regular-color;
  background-color: $white;
  margin: 0;
  box-sizing: border-box;
}
