
.page {
  height: 100%;
}

.page__body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: variables.$main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $regular-color;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $regular-background;

  @media (min-width: $mobile-width-only) {
    padding: 0 20px;
  }
}
