.product-example {
  padding: 25px 0 40px 0;
  background-color: #eaeaea;
  font-family: "Oswald";
}

.product-example__title {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.product-example__container {
}

.product-example__discription {
  margin-bottom: 40px;
}

.product-example__discription-text {
  font-family: "Arial";
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.product-example__list-item {
  position: relative;
  padding: 14px 42px 18px 42px;
}

.product-example__item-value {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.product-example__item-discription {
  font-family: "Arial";
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.product-example__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.product-example__range-slider {
}

.range-slider__slide {
}

.slide {
}

.slide__image-wrapper {
}

.slide__image--left {
}

.lide__image--right {
}

.range-slider__range {
}

.range {
}

.range__range-before {
  font-family: "Oswald";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.range__scale {
}

.scale {
}

.scale__range-bar {
}

.range-bar {
}

.range-bar__button {
}

.range__range-became {
  font-family: "Oswald";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
