$black: #000000;

$light-black: #222222;

$darken-black: #111111;

$regular-color: #444444;

$border-color: #d9d9d9;

$white: #ffffff;

$light-gray: #f2f2f2;

$card-gray: #cdcdcd;

$lightx2-gray: #ebebeb;

$comment-border : #e7e7e7;

$darken-gray: #eaeaea;

$nav-gray: #e6e6e6;

$gray: #666666;

$regular-button: #68b738;

$regular-button--hover: #5eaa2f;

$arial: "Arial", "Helvetica", sans-serif;

$oswald: "Oswald", "Arial", sans-serif;

//viewports

$tablet-width: 768px;

$desktop-width: 1440px;

$mobile-width-only: 320px;
