.banner-gift {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/background-main-bannerjpg.jpg");
  background-repeat: no-repeat;
  padding-top: 187px;
  padding-right: 60px;
  padding-left: 60px;
}

.banner-gift__text {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: $regular-background;
}
