@use "./blocks/variables" as*;

.banner-gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/background-cat-gift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 290px;
}

.banner-gift__text {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  max-width: 161px;
  margin: 0;
  color: $white;
}

@media (min-width: $tablet-width) {
  .banner-gift__text {
    text-align: left;
    max-width: 161px;
  }

  .banner-gift {
    flex-direction: row;
  }
}


@media (min-width: $desktop-width) {
  .banner-gift {
    min-width: 245px;
    padding: 0;
    min-height: 289px;
  }
}
