@use "./blocks/variables" as*;

.banner-gift {
  position: relative;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/background-cat-gift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 187px 60px 43px 60px;
}

.banner-gift__text {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: $white;
}
