@use "./blocks/variables" as*;

.card__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 18px;
}

.card__table {
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $regular-color;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__link {
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  color: $regular-background;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    opacity: 0.4;
  }
}

.card__description {
  margin-bottom: 13px;
}

.card__table-item,
.card__weight,
.card__weight-value,
.card__taste,
.card__taste-value,
.card__price,
.card__price-value {
  margin: 0;
}
