@use "./blocks/variables" as*;

.card {
  margin-bottom: 11px;
}

.card__wrapper {
  display: flex;
}

.card__title {
  font-family: $oswald;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  margin: 0;
  margin-bottom: 18px;
  width: 76px;
}

.card__table {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  color: $regular-color;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__link {
  font-family: $oswald;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  background-color: $regular-button;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $regular-button--hover;
  }

  &:active {
    opacity: 0.4;
  }
}

.card__description {
  width: 100%;
  margin-bottom: 13px;
}

.card__table-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 2px;

  &--last-item {
    margin: 0;
  }
}

.card__table-item,
.card__weight,
.card__weight-value,
.card__taste,
.card__taste-value,
.card__price,
.card__price-value {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .card {
    margin: 0;
    background-color: $light-gray;
  }

  .card__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card__image-wrapper {
    margin-bottom: 34px;
  }

  .card__description {
    display: flex;
    flex-direction: column;
  }

  .card__table {
    font-size: 16px;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    text-align: center;
    width: 174px;
  }

  .card__table-item {
    margin-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $card-gray;
    }
  }

  .card__link {
    font-size: 16px;
    line-height: 20px;
  }
}
