@use "./blocks/variables" as*;

@media (min-width: $tablet-width) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 62px 80px;
  }
}
