@use "./blocks/variables" as*;

.card__wrapper {
  display: flex;
  margin-bottom: 13px;
}

.card__image-wrapper {
  width: 100%;
  max-width: 140px;
}

.card__title {
  font-family: $oswald;
  font-weight: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  padding-top: 5px;
  width: 76px;
}

.card__table {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  color: $regular-color;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__link {
  font-family: $oswald;
  padding: 10px 109px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  background-color: $regular-button;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $regular-button--hover;
  }

  &:active {
    opacity: 0.4;
  }
}

.card__description {
  width: 100%;
}

.card__table-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 2px;

  &--last-item {
    margin: 0;
  }
}

.card__table-item,
.card__weight,
.card__weight-value,
.card__taste,
.card__taste-value,
.card__price,
.card__price-value {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .card {
    margin: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 16%, $light-gray 16%);
  }

  .card__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .card__image-wrapper {
    max-width: 168px;
    max-height: 200px;
    margin-bottom: 29px;
  }

  .card__description {
    display: flex;
    flex-direction: column;
  }

  .card__table {
    font-size: 16px;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
    align-self: center;
    text-align: center;
    min-width: 145px;
    margin-bottom: 21px;
  }

  .card__table-item {
    margin-bottom: 14px;

    &::after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $card-gray;
    }
  }

  .card__link {
    font-size: 16px;
    line-height: 20px;
    min-width: 248px;
    padding: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .card {
    background: linear-gradient(to bottom, transparent 0%, transparent 16%, #f2f2f2 16%);
  }

  .card__link {
    min-width: 168px;
  }

  .card__title {
    line-height: 21px;
    margin-bottom: 21px;
  }

  .card__image-wrapper {
    max-width: 172px;
    margin-bottom: 46px;
    margin-top: -9px;
    max-height: 196px;
  }

  .card__table-item {
    margin-bottom: 15px;
  }
}
