@use "./blocks/variables" as*;

.catalog {
  margin-bottom: 14px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 19px;
  padding-bottom: 14px;
}
