@use "./blocks/variables" as*;

.catalog {
  margin-bottom: 14px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 19px;
  padding-bottom: 25px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    width: 100vw;
    background-color: $lightx2-gray;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    margin-bottom: 68px;
  }

  .catalog__item {
    padding: 0 38px;
    justify-content: flex-end;
    padding-bottom: 39px;
    max-width: 324px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    padding-bottom: 40px;
    max-width: 324px;
  }
}
