@use "./blocks/variables" as*;

.main-catalog {
  padding-top: 27px;
  padding-bottom: 19px;
}

.main-catalog__title {
  font-family: $oswald;
  font-weight: inherit;
  color: $black;
  margin: 0;
  margin-bottom: 41px;
  padding: 0 20px;
  font-size: 36px;
  line-height: 36px;
}
