@use "./blocks/variables" as*;

.additional__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional__item {
  padding: 5px 0;
  margin-bottom: 13px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .additional {
    margin: 0;
  }

  .additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 55px;
  }

  .additional__item {
    margin: 0;
  }

  .additional__wrapper {
    display: flex;
  }
}


@media (min-width: $desktop-width) {
  .additional__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 79px;
  }
}
