@use "./blocks/variables" as*;

.control {
  display: flex;
  position: relative;
  text-transform: uppercase;
  font-family: $oswald;
  font-size: 16px;
  color: $black;
  padding-left: 45px;
}

.control__text {
  margin: 0;
}

.control__radio-mark {
  position: absolute;
  left: 0;
  top: -3px;
  border-radius: 50%;
  border: 1px solid $card-gray;
  width: 30px;
  height: 30px;
}

.control__checkbox-mark {
  position: absolute;
  content: "";
  left: 0;
  top: -3px;
  width: 30px;
  height: 30px;
  border: 1px solid $card-gray;
}

.control__radio-input:checked + .control__radio-mark::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 7px;
  width: 15px;
  height: 15px;
  background-color: $regular-button;
  border-radius: 50%;
}

.control__checkbox-input:checked + .control__checkbox-mark {
  background-image: url("../img/icone/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control__radio-mark,
.control__checkbox-mark {
  &:hover {
    border-color: $gray-hover;
  }
}

.control__radio-input:focus + .control__radio-mark,
.control__checkbox-input:focus + .control__checkbox-mark {
  outline: 2px solid $regular-button;
  outline-offset: 2px;
}

.control__radio-input:disabled + .control__radio-mark::after,
.control__radio-input:disabled + .control__radio-mark + .control__text {
  opacity: 0.3;
}

.control__checkbox-input:disabled + .control__checkbox-mark,
.control__checkbox-input:disabled + .control__checkbox-mark + .control__text {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .control__radio-mark,
  .control__checkbox-mark {
    width: 40px;
    height: 40px;
  }

  .control__radio-mark {
    top: -5px;
    left: 1px;
  }

  .control__radio-input:checked + .control__radio-mark::after {
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
  }

  .control {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }

  .control__control-mark {
    width: 40px;
    height: 40px;
    top: -7px;
  }
}
