@use "./blocks/variables" as*;

.criteria {
  padding: 24px 0;
}

.criteria__list {
  position: relative;
  font-family: $oswald;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0;
  margin: 0;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 100vw;
    height: 1px;
    background-color: $border-color;
  }

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $border-color;
  }
}

.criteria__item {
  padding: 5px 0;
  margin-bottom: 13px;
}

.criteria__item--last-item {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .criteria__list {
    padding: 25px 27px;
    border: 1px solid $border-color;

    &::after,
    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .criteria__list {
    padding: 29px 27px;
  }
}
