.criteria {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;
  padding: 24px 0;
}

.criteria__list {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.criteria__item {
}

.criteria__item-control {
}
