@use "./blocks/variables" as*;

.email__field {
  padding: 13px 0 13px 15px;

  &::placeholder {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.email__title {
  margin-right: 11px;
  flex: 0 0 auto;
}

.email__field-wrapper {
  position: relative;
  width: 100%;
}

.email__field:focus-within + .email__icon {
  color: $regular-button;
}

.email__icon {
  position: absolute;
  top: 14px;
  right: 15px;
}

@media (min-width: $tablet-width) {
  .email__title {
    margin-right: 18px;
  }

  .email__field {
    padding: 21px 0 14px 23px;
  }

  .email__icon {
    top: 18px;
    right: 17px;
  }
}
