@use "./blocks/variables" as*;

.field-group {
  position: relative;
  margin: 0 0 23px 0;

  &:last-child {
    margin: 0;
  }
}

.field-group__title {
  display: inline-block;
  font-family: $oswald;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 34px 0;
  text-transform: none;
  padding: 0;
  color: $black;
  font-weight: 400;
  background-color: $white;
  z-index: 1;

  &--contact {
    max-width: 200px;
    padding-right: 14px;
  }

  &--comment {
    padding-right: 22px;
    margin-bottom: 38px;
  }

  &--additional {
    padding-right: 23px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -22px;
    width: 90vw;
    height: 2px;
    background-color: $regular-button;
    z-index: -1;
  }
}

.field-group__email,
.field-group__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $oswald;
  font-size: 16px;
  text-transform: uppercase;
}

.field-group__email {
  margin: 0;
  margin-bottom: 14px;
}

.field-group__phone {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .field-group__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;

    &--contact {
      max-width: none;
      padding-right: 42px;
    }

    &--comment {
      padding-right: 38px;
    }

    &--additional {
      padding-right: 41px;
      margin-bottom: 57px;
    }

    &::after {
      width: 100vw;
      right: -67px;
      top: 22px;
      background: linear-gradient(to right, $regular-button 4%, transparent 4% 10%, $regular-button 10% 100%);
    }
  }

  .field-group__email,
  .field-group__phone {
    font-size: 20px;
    line-height: 30px;
  }

  .field-group__email {
    margin-bottom: 20px;
  }

  .field-group {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .field-group__email-phone-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 78px;
    align-items: center;
  }

  .field-group__title {
    &--contact {
      padding-right: 42px;
    }

    &--comment {
      padding-right: 38px;
    }

    &--additional {
      padding-right: 41px;
    }

    &::after {
      right: -110px;
      background: linear-gradient(to right, #68b738 5%, transparent 5% 14%, #68b738 14% 100%);
    }
  }

  .field-group__email {
    margin: 0;
  }
}
