.field {
  padding: 13px 15px;
  border: solid 1px $border-color;

  &::placeholder {
    font-family: $title-font;
    font-size: 16px;
    line-height: 18px;
    color: $regular-color;
    text-align: left;
  }
}
