@use "./blocks/variables" as*;

.field-comment {
  padding: 10px 12px;
  resize: none;
  width: 90%;

  &::placeholder {
    font-family: $oswald;
    font-size: 16px;
    text-transform: uppercase;
  }
}
