@use "./blocks/variables" as*;

.form {
  padding: 39px 0 32px 0;
}

.form__title {
  font-family: $oswald;
  color: $black;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.form__subtitle {
  line-height: 16px;
  margin: 0;
}

.form__field-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.form__button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 44px;
  background-color: $regular-button;
  border: none;
  cursor: pointer;
  margin-bottom: 21px;
  color: $white;

  &:hover {
    background-color: $regular-button--hover;
  }

  &:active {
    opacity: 0.3;
  }
}
