@use "./blocks/variables" as*;

.main-form {
  padding: 27px 20px 0 20px;
}

.main-form__title {
  font-family: $oswald;
  color: $black;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}
