.main-form {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 27px 0 32px;
  color: #000000;
}

.main-form__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}

.main-form__container {
}
