@use "./blocks/variables" as*;

.phone__field {
  font-size: 16px;
  flex-grow: 1;
  padding: 14px 55px 14px 15px;

  &::placeholder {
    font-family: $oswald;
    text-transform: uppercase;
  }
}

.phone__title {
  margin-right: 8px;
}

@media (min-width: $tablet-width) {
  .phone__title {
    margin-right: 14px;
  }
}
