@use "./blocks/variables" as*;

.phone__field {
  font-size: 16px;
  flex-grow: 1;
  padding: 14px 55px 13px 15px;

  &::placeholder {
    font-family: $oswald;
    text-transform: uppercase;
  }
}

.phone__field-wrapper {
  position: relative;
  width: 100%;
}

.phone__field:focus-within + .phone__icon {
  color: $regular-button;
}

.phone__icon {
  position: absolute;
  top: 14px;
  right: 13px;
}

.phone__title {
  margin-right: 8px;
}

@media (min-width: $tablet-width) {
  .phone__field {
    padding: 19px 55px 13px 20px;
  }

  .phone__icon {
    top: 16px;
    right: 16px;
  }

  .phone__title {
    margin-right: 14px;
  }
}
