@use "./blocks/variables" as*;

.main-header {
  display: flex;
  position: relative;
  align-items: center;
  padding: 24px 0;
  justify-content: space-between;
}


@media (min-width: $tablet-width) {
  .main-header-form {
    margin-bottom: 65px;
  }

  .main-header-index {
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 70px;
  }

  .main-header-index {
    margin-bottom: 74px;
  }
}
