@use "./blocks/variables" as*;

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding: 13px 0;
  justify-content: space-between;

  &--nojs {
    padding-bottom: 0;
  }
}

.main-header__toggle {
  display: none;

  &--js {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 18px;
  }

  &--burger-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }

  &--burger-close::before,
  &--burger-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &--burger-close::before {
    rotate: 45deg;
  }

  &--burger-close::after {
    rotate: -45deg;
  }
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    padding: 24px 0 13px 0;
  }

  .main-header-catalog {
    margin-bottom: 51px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header-form {
    margin-bottom: 65px;
  }

  .main-header-index {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-header-catalog {
    margin-bottom: 64px;
  }

  .main-header-index {
    margin-bottom: 73px;
  }

  .main-header-form {
    margin-bottom: 62px;
  }

  .main-header__wrapper {
    padding: 53px 0 13px 0;
  }
}
