.main-footer {
  background-color: $light-gray;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  &:hover + .social__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $regular-color;

  &:hover + .copyright__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
