.main-footer {
  background-color: #b2b2b2;
}

.main-footer__container {
}

.main-footer__logo {
}

.logo {
}

.main-footer__social {
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {
}

.social__item {
}

.social__link {

  &:hover + .social__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
}

.social__icon {
}

.social__link--youtube {
}

.social__link--telegramm {
}

.main-footer__copyright {
}

.copyright {
}

.copyright__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;

  &:hover + .copyright__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

}

.copyright__image-wrapper {
}

.copyright__icon {
}
